@import "tailwindcss";
/**@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');**/
@variant dark (.dark &);

.title-principal {
  font-family: 'Inter', sans-serif;
}
